/illustratorapi/ate/*
/illustratorapi/illustrator/*
/illustratorapi/pica_sp/*
*.tlog
*.obj
*.suo
*.dll
*.pdb
*.metagen
*.lib
*.exe
*.ilk
*.idb
*.log
*.lastbuildstate
*.filters
*.user
*.ipch
*.sdf
*.opendb
*.pch